@import "../../styles/base";

.country-table {
  & th,
  & td {
    text-align: center;
  }
  & th {
    font-weight: 800;
  }
  &__img {
    max-width: 7rem;
    min-height: 4.5rem;
    border-radius: 1rem;
  }
  &__title {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
  &__link {
    text-decoration: none;
  }
}
