@import "../../styles/base";

.css-1mcnwpj-MuiList-root {
    display: inline-block;
    width: 60%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: inherit !important;
    font-family: inherit !important;
  }

  .MuiListItemText-root .MuiTypography-root .MuiTypography-body1 .MuiListItemText-primary .css-10hburv-MuiTypography-root{
    font-family: "Poppins" !important;
  }
